.base-list-map {
  .card-services {
    .cover {
      .button-category {
        width: 5.75rem;
        height: 1.875rem;
      }
    }
  }
  .navigation {
    margin-top: 3.12rem;
    margin-bottom: 9.38rem;
  }
}