$white: #FFFFFF;
$primary: #932327;
$primary-hover: #c82328;
$green-500: #ECF9EF;
$green-300: #3B9756;
$gray: #D9DBD0;
$bg-dash: #F4F7FE;
$gray-300: #404041;
$gray-400: #808080;
$gray-500: #BBBBBB;
$grop-shadow-1: 0 4px 25px 0 rgba(0,0,0,0.1);
$grop-shadow-2: 0 4px 15px -4px rgba(0,0,0,0.1);
$grop-shadow-3: 0 49px 79px 36px rgba(202, 209, 220, 0.2);
