* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;  
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 85px;
}

body, input, button, select, textarea, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Carmen sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}